hostname {{ hostname }}
domain name {{ domain_name }}
interface MgmtEth0/RP0/CPU0/0
  ipv4 address dhcp
  no shutdown

{% if authentication_type == 'pubkey' %}
username admin password {{ admin_user_password }}
{% endif %}

tpa address-family ipv4 update-source MgmtEth0/RP0/CPU0/0