[iosxr]
{{ hostname }}.{{ domain_name }}

[iosxr:vars]
ansible_network_os=iosxr
ansible_connection=local
ansible_host=localhost
ansible_port=8022
ansible_user={{ admin_user }}
ansible_ssh_pass={{ admin_user_password }}
