hostname {{ hostname }}
ip domain-name {{ domain_name }}

username {{ admin_user }} privilege 15 password {{ admin_user_password }}
username {{ regular_user }} privilege 1 password {{ regular_user_password }}

ip ssh version 2
