set system host-name {{ hostname }}
set system domain-name {{ domain_name }}

set system services ssh root-login deny
set system login user {{ admin_user }} class super-user authentication encrypted-password {{ admin_user_password | password_hash('sha512') }}
set system login user {{ regular_user }} class operator authentication encrypted-password {{ regular_user_password | password_hash('sha512') }}
