[eos]
{{ hostname }}.{{ domain_name }}

[eos:vars]
ansible_network_os=eos
ansible_connection=local
ansible_host=localhost
ansible_port=8022
ansible_user={{ admin_user }}
ansible_ssh_pass={{ admin_user_password }}
ansible_become=true
ansible_become_method=enable
ansible_become_pass={{ admin_user_password }}
ansible_connection=ansible.netcommon.network_cli
